@{
    ViewBag.Title = "Home Page";
    ViewBag.pTitle = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="text-center">
    <h1 class="display-4">Welcome To Student Sync</h1>
</div>
